*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
}

.app {
  min-height: 100vh;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
