@import '../../sass/variables';

.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .cart-counter {
    position: absolute;
    color: $color-blue;
    font-size: 1.1rem;
    font-weight: bold;
    bottom: 11px;
    right: 20px;
  }
}

