@import '../../sass/variables';

.header {
  width: 100%;
  height: 4.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .options {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}